<span style="color:#ccc;font-size:9px">
<br>
 <p>
  De acuerdo con lo establecido por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos que sus datos están incorporados en un fichero del que es titular Grupo Tangente S.Coop.Mad con la finalidad de realizar la gestión administrativa, contable y fiscal, así como enviarle comunicaciones comerciales sobre nuestros productos y/o servicios que puedan ser de su interés.
</p>
  <p>
  Asimismo, le informamos de la posibilidad de ejercer los derechos de acceso, rectificación, cancelación y oposición de sus datos en el domicilio fiscal de Grupo Tangente S.Coop.Mad sito en Paseo de las Acacias, 3, 1º A. 28005 - Madrid - MADRID - contacto@tangente.coop"
  </p>
</span>


<span ng-init="$root.init()"></span>