<script>      $("#htmlcont1").hide();
</script>

<form class="form-horizontal" >
  <div class="form-group">
    <label class="col-sm-4 control-label" for='nombre'>Nombre y apellidos</label>
    <div class="col-sm-8">
      <input class="form-control" name='nombre' type='text' ng-model='nombre'  placeholder="Escribe tu nombre">
    </div>

  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for='cargo'>Cargo y/o especialidad</label>
    <div class="col-sm-8">

    <input class="form-control" name='cargo' type='text' ng-model='cargo'  placeholder="Escribe tu cargo">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for='telefono'>Tlf y otros datos de interés</label>
        <div class="col-sm-8">

    <input class="form-control" name='telefono' type='text' ng-model='telefono'  placeholder="Escribe tu telefono">
    </div>
  </div>
    <div class="form-group">
    <label class="col-sm-4 control-label" for='telefono'>Logo marca </label>
        <div class="col-sm-8">

    <select ng-model="equipo">
      <option
      ng-repeat="item in  arrNombres"
      value="{{$index }}">
      {{item}}
      </option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for='telefono'> Nombre marca </label>
        <div class="col-sm-8">

    <input  class="form-control" name='telefono' type='text' ng-model='nombreEquipo'  placeholder="Escribe equipo">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label" for='custml'>Añadir enlaces personales </label>
    <div class="col-sm-8">
      <input class="form-control" name='custml' type='text' ng-model='custml'  placeholder="Escribe html">
      <span style="color:#555;font-size:12px">
        [FB, TW, Blog, etc.] (usar etiquetas html: &lt;a href="http://urlcompletadelenlace"&gt; palabra enlazada &lt;/a&gt;
      </span>
    </div>
  </div>

</form>


<div style="height:50px">

<button id='selFirma' ng-click="selectFirma()" class="btn btn-default" >
  Seleccionar la firma
</button>
<button id='showHtml1' ng-click="showHtml('firma1')" class="btn btn-default" >Ver html</button></div>

<div id="firma1" ng-click="selectText('firma1')">

 <table border="0" width="700" >

	<tr style="color:#000; font-size: 17px; font-family: tahoma, hevietica, sans;" >
		<td>
			<p >
        {{ nombre || 'Nombre Apellido' }} <br>
			<span style="color: #97999C;font-size: 14px;margin-top: 0">
				{{cargo  || 'Cargo y/o especialidad' }}</span>
			</p>

      <a style="color: #97999C;font-size: 12px;margin-top: 2px;text-decoration:none" href="{{ arrUrls[equipo] }}" title="{{ arrNombres[equipo] }}" target="_blank" style="text-decoration: none;">
			{{ arrUrls[equipo] }}</a>
			<p style="color:#97999C; font-size: 11px;">{{ telefono || '912 345 678 | 987 654 321'  }}<br >
      <span ng-bind-html="custml"></span>
			</p><br />
		</td>
	</td>
	<td align="right"><a href="{{ arrUrls[equipo] }}" title="logo" target="_blank" style="text-decoration: none;">
		<img src="{{baseurl}}images/{{ arrlogos[equipo] }}" alt="{{ arrNombres[equipo] }}">
	</a></td>
	</tr>
</table>
<table border="0" width="700" style="border-top: 2px solid #78b74a; border-bottom: 2px solid #78b74a;">
	<tr style="color:#000; font-size: 12px; font-family: tahoma, hevietica, sans;" height="110" width="500">
		<td>
			<a href="http://www.tangente.coop" title="Grupo Cooperativo Tangente" target="_blank" style="text-decoration: none;">
        	<img src="{{baseurl}}images/logo.png" title="Tangente" alt="tangente"></a>
		</td>
		<td align="right">
			{{ nombreEquipo || arrNombres[equipo] }} es una marca de Grupo Cooperativo Tangente<br>
			<a style="color: #78b74a;font-size: 10px;margin-top: 5px;display: block;text-decoration:none" href="http://www.tangente.coop" title="Grupo Cooperativo Tangente" target="_blank" style="text-decoration: none;">
				www.tangente.coop</a>
		</td>
	</tr>
</table>
<span style="color:#ccc;font-size:9px">
  <br>
  <p>
  De acuerdo con lo establecido por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos que sus datos están incorporados en un fichero del que es titular Grupo Tangente S.Coop.Mad con la finalidad de realizar la gestión administrativa, contable y fiscal, así como enviarle comunicaciones comerciales sobre nuestros productos y/o servicios que puedan ser de su interés.
</p>
  <p>
  Asimismo, le informamos de la posibilidad de ejercer los derechos de acceso, rectificación, cancelación y oposición de sus datos en el domicilio fiscal de Grupo Tangente S.Coop.Mad sito en Paseo de las Acacias, 3, 1º A. 28005 - Madrid - MADRID - contacto@tangente.coop"
  </p>
</span>
</div>

<div ng-click="selectText('html1')" id="htmlcont1" >
    <label class="control-label" >HTML</label>
    <div  id="html1" >
    </div>
</div>


<div style="text-align:center;padding:2em">
  {{ msg }}
</div>
