
<p>¿Cómo crear tu firma de Tangente?</p>
<hr>
<p>Accede a:</p>
<p><a href="http://tangente.coop/firma/">http://tangente.coop/firma/</a></p>
<p>y elije tu modalidad de firma para tu correo electrónico: general, de equipo, de servicio o área (submarcas).</p>
<hr>
<p>¿Cómo configurar tu firma en tu gestor de correo o webmail?</p>
<hr>
<hr>
<p>Gmail:</p>
<hr>
<p>-Instrucciones sobre donde añadir tu firma personalizada en el webmail de Gmail.</p>
<p><a href="https://support.google.com/mail/answer/8395?hl=es">https://support.google.com/mail/answer/8395?hl=es</a></p>
<ul>
<li>Copia la visualización de la firma (ctrl+C) y pégala en el campo de la firma que te indica en la página de ayuda enlazada.</li>
</ul>
<hr>
<p>Thunderbird:</p>
<hr>
<ul>
<li>Aprieta el botón &quot;Ver HTML&quot; y copia todo el código. Deberás pegarlo siguiendo las instrucciones de la ayuda de este gestor que te enlazamos abajo:</li>
</ul>
<p>¿Dónde configurar la firma?
<a href="https://support.mozilla.org/es/kb/firmas#w_lquae-son-las-firmas">https://support.mozilla.org/es/kb/firmas#w_lquae-son-las-firmas</a></p>
<p>¿Firmas HTML?
<a href="https://support.mozilla.org/es/kb/firmas#w_firmas-en-formato-html">https://support.mozilla.org/es/kb/firmas#w_firmas-en-formato-html</a></p>
<hr>
<p>Mail (OSX)</p>
<hr>
<ul>
<li>Instrucciones sobre donde añadir tu firma personalizada en Mail</li>
</ul>
<p><a href="http://tecnologia.uncomo.com/articulo/como-crear-una-firma-en-mail-de-mac-23652.html">http://tecnologia.uncomo.com/articulo/como-crear-una-firma-en-mail-de-mac-23652.html</a></p>
<ul>
<li>Copia la visualización de la firma (ctrl+C) y pégala en el campo de la firma que te indica en la página de ayuda enlazada. </li>
</ul>
<hr>
<p>NOTA: Estas firmas son sólo compatibles con gestores de correo que permiten el uso de mensajes con html. Si usas tu correo con texto plano no podrás adjuntarlas.</p>
